//-#############################################################################
//- Styles and scripts

script(defer src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')

//-#############################################################################
// SEO and misc meta tags

meta(name='viewport' content='width=device-width, initial-scale=1')
meta(name="description" content="Pawlytics is a cloud based software for animal shelters and rescues who want to save more animals and love their database while doing it.")
