header
	
	a.logo(href='/')
		img(src='/assets/img/logo/full-800x228.png')
	
	.nav-icon-wrap
		.nav-icon
			div

	nav
		a(href='/features') FEATURES
		a(href='/pricing')  PRICING
		a(href='/muttrics') MUTTRICS
		a(href='/about')    ABOUT
		a(href='https://app.pawlytics.com') LOG IN
		a.cta(href='https://app.pawlytics.com/signup') FREE TRIAL
	
	.nav-clickout
