header
	
	a.logo(href='/')
		img(src='/assets/img/logo/full-800x228.png' alt='Pawlytics Logo')
	
	.nav-icon-wrap
		.nav-icon
			div

	nav
		a(href='/features') Features
		a(href='/pricing')  Pricing
		a(href='/muttrics') Muttrics
		a(href='/about')    About
		a(href='https://app.pawlytics.com') Log In
		a.cta(href='https://app.pawlytics.com/signup') Free Trial
	
	.nav-clickout
