//- _framework.php
//- General-purpose template for use by ALL pages.
//- This really should go inside /_framework/layout ...
//- ... but i'm too lazy to type all that out each time, so here it stays.
	
//- For some reason a normal doctype tag wouldn't put doctype on its own line??
//- So I need this thing.
|
| <!DOCTYPE html>
|

html(lang='en')

	//-###########################################################################
	head
		
		include /_framework/layout/.head
		
		block head
		
		title
			block title
				| Pawlytics

	//-#############################################################################
	body
		
		include /_framework/layout/header
		
		main
			block body
				p Some 404 error or something, idk
